# 忽略所有檔案
*

# 保留需要的檔案
!/.gitignore
!recnew.c
!rec_new.s
!simple_rectangle.c
!simple_rectangle.s

# 保留 function_test 目錄下的檔案
!function_test/
!function_test/add.c
!function_test/bf16multest.c
!function_test/test_bf16_add.s
!function_test/test_fp32_to_fp16.s
